# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
IndentExternBlock: AfterExternBlock
FixNamespaceComments: false
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
ColumnLimit: 0
InsertBraces: true
BreakBeforeBraces: Custom
PointerAlignment: Left
ReferenceAlignment: Left
SpaceInEmptyBlock: true
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false